.obsah {
  width: 365px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #283e50;
  overflow: hidden;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #ffffff;
  font-size: 48px;
  font-weight: 300;
  margin: 25px;
}

p,
ol {
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  padding: 0px 15px 15px 15px;
}

a {
  display: block;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  font-size: 16px;
  margin: 0;
  padding: 15px;
}

.pravidla {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.zacithrat {
  background-color: #0197f6;
}
.pravidla:hover {
  background-color: #1cbb96;
}
.zacithrat:hover {
  background-color: #0090e9;
}

body {
  margin: 0;
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*  Pravidla.html styly  */

.obsah2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #283e50;
  overflow: hidden;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.list {
  margin-left: 60px;
  margin-right: 40px;
  text-align: left;
  line-height: 1.15;
}

li {
  padding-left: 10px;
  margin-bottom: 15px;
}

.heading-pravidla,
.heading-hra {
  margin: 40px 0px;
  text-align: center;
}

.image {
  width: 80%;
}

.description {
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  font-style: italic;
  padding: 5px 10% 35px 10%;
}

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  filter: invert(100%);
}

.situation {
  margin: 0;
}

@media screen and (min-width: 860px) {
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .image {
    width: 100%;
  }

  .situation {
    margin: 0;
    flex-basis: 45%;
  }

  .obsah2 a {
    padding: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .obsah2 {
    max-width: 960px;
  }
}

/*        Hra.html styly    */
.obsah3 {
  max-width: 80vmin;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  justify-content: space-between;
}

.btns-field {
  display: flex;
  flex-wrap: wrap;
  height: 80vmin;
  border: 1px solid black;
  background-image: linear-gradient(#615dad, #ffc8da);
  opacity: 0.4;
  margin-bottom: 5rem;
}

button {
  flex: 1 1 10%;
  padding: 0;
  margin: 0;
  border: 1px solid black;
}
button:hover,
button:focus {
  opacity: 0.7;
  cursor: pointer;
}

.go-to a {
  display: inline-block;
}

.btn-home {
  background-color: #1fcca4;
  padding: 6px;
  border-radius: 5px;
}

.btn-home:hover {
  background-color: #1cbb96;
}

.btn-restart {
  background-color: #0197f6;
  padding: 6px;
  border-radius: 5px;
}

.btn-restart:hover {
  background-color: #0090e9;
}
