.obsah {
  width: 365px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #283e50;
  overflow: hidden;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

img {
  width: 100%;
}

h1 {
  font-family: 'Lobster', cursive;
  color: #ffffff;
  font-size: 48px;
  font-weight: 300;
  margin: 25px;
}

p,
ol {
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  padding: 0px 15px 15px 15px;
}

a {
  display: block;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  font-size: 16px;
  margin: 0;
  padding: 15px;
}

.pravidla {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.zacithrat {
  background-color: #0197f6;
}
.pravidla:hover {
  background-color: #1cbb96;
}
.zacithrat:hover {
  background-color: #0090e9;
}

body {
  margin: 0;
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*  Pravidla styly  */

.obsah2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #283e50;
  overflow: hidden;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.list {
  margin-left: 60px;
  margin-right: 40px;
  text-align: left;
  line-height: 1.15;
}

li {
  padding-left: 10px;
  margin-bottom: 15px;
}

.heading-pravidla {
  margin: 40px 0px;
  text-align: center;
}

.image {
  width: 80%;
}
.description {
  margin: 0;
  font-style: italic;
  padding: 5px 10% 35px 10%;
}

@media screen and (min-width: 960px) {
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .situation {
    flex-basis: 50%;
  }

  a {
    padding: 25px;
  }
}
